.loginSquare{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.loginElement {
    margin: 10px 10px 10px 10px;
    display:block;
}

.loginText{
    bottom: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:white;
}

.websiteText{
    font-family: 'Roboto', sans-serif;
    color:white;
    display: block;
}

.websiteMain{
    background-color: #211D1D;
    font-family: 'Roboto', sans-serif;
    color:white;
    display: block;
    margin: 10px 10px 10px 10px;   
}

