.loginSquare{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.loginElement {
    margin: 10px 10px 10px 10px;
    display:block;
}

.loginHeader{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:white
}